<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>accountsTittleQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0E48F5B1D96B03400D19B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E48F6F1D96B03400D19B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E48F7A1D96B03400D19B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
